:root {
    --bg-color: #F7F5F8;
    --bg-components: #FFFFFF;
    --text-muted: #848388;
    --border-color: #D9D9D9;
    --border-neutral: #F0F0F0;
    --bg-badge: #F9F1E6;
    --text-badge: #FAAD14;
}